
/* Webfont: Lato-Bold */@font-face {
  font-family: 'LatoWebBold';
  src: url('fonts/Lato-Bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/Lato-Bold.woff2') format('woff2'), /* Modern Browsers */
  url('fonts/Lato-Bold.woff') format('woff'), /* Modern Browsers */
  url('fonts/Lato-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Regular */@font-face {
  font-family: 'LatoWeb';
  src: url('fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
  url('fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
  url('fonts/Lato-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
