.header-component{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 26px;
  border-bottom: 1px solid #E1E7EF;
}

.header-component .user-info {
  display: flex;
  align-items: center;
}

.header-component .logo{
  margin-left: 10px;
  height: 30px;
}

.user-info img {
  object-fit: cover;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  margin-left: 10px;
}

@media (max-width: 600px) {
  .header-component .logo{
    display: none;
  }

  .header-component{
    justify-content: center;
  }
}