.graph {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  height: 600px;
  overflow: hidden;
  text-transform: uppercase;
  width: 100%;
  border: 1px solid #E1E7EF;
  border-radius: 3px;
  position: relative;
}

.graph .eth-info{
  position: absolute;
  top: 25px;
  left: 25px;
}

.graph .graph-current-text{
  text-transform: none;
  font-size: 14px;
}

.graph .graph-current-price {
  font-size: 36px;
  margin-top: 15px;
}


@media (max-width: 600px) {
  .graph img {
    margin-right: 100%;
  }
}