.buy-more-item {
  width: 320px;
  border: 1px solid #E1E7EF;
  margin-top: 15px;
  padding: 20px 45px;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  background-color: #444;
  height: 370px;
}

.buy-more-row {
  padding: 11px
}

.buy-more-row h3,
.buy-more-row h2,
.buy-more-row h1 {
  text-align: center;
  font-size: 14px;
  margin: 0;
  font-weight: normal;
  line-height: 1.5;
  color: #fff;
}

.buy-more-row h2 {
  font-size: 24px;
  font-weight: bold;
}

.buy-more-row h1 {
  font-size: 36px;
  font-weight: bold;
  color: #42D352;
}

.button-block {
  font-size: 18px;
  background-color: #42D352;
  color: #fff;
  padding: 12px 0 11px 0;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-family: LatoWebBold;
  text-align: center;
  margin-top: 20px;
}

.button-block:hover {
  background-color: #45E357;
}

.buy-more-item .top-line{
  height: 6px;
  width: 100%;
  background-color: #42D352;
  position: absolute;
  top: 0;
  left: 0;
}