.buy-more-title {
  font-size: 26px;
  text-align: left;
  width: 100%;
}

.buy-more-block {
  width: 100%;
  padding: 30px;
  border: 1px solid #E1E7EF;
  border-radius: 3px;
  height: 600px;

}

.buy-more-items{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.buy-more-text{
  font-family: LatoWeb;
  color: #666;
}

@media (max-width: 600px) {
  .buy-more-block {
    position: absolute;
    top: 66px;
    left: 0;
    background-color: #fff;
    border: 0;
    height: auto;
  }

  .buy-more-item {
    width: 100%!important;
  }

}