@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

.container-page {
  width: 100%;
  font-family: LatoWeb;
}

.container {
  width: 1135px;
  margin: 25px auto;
  padding: 15px;
}

.items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.block {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #E1E7EF;
  width: 32%;
  position: relative;
  padding: 28px;
  overflow: hidden;
}

.block-top-line{
  background-color: #42D352;
  height: 6px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.block-title {
  font-size: 14px;
  line-height: 1.6;
  text-align: left;
}

.block-value {
  font-size: 36px;
  text-align: left;
  margin: 15px 0;
  height: 15px;
}

.block-link {
  color: #2F80ED;
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px;
}

.button-block {
  font-size: 14px;
  color: #000;
  bottom: 0;
  cursor: pointer;
}

.timer {
  font-size: 14px;
  color: #000;
  bottom: 0;
}

@media (max-width: 600px) {
  .container{
    width: auto;
    margin: auto;
  }

  .items {
    flex-wrap: wrap;
  }

  .block {
    width: 100%;
    margin-top: 20px;
  }

}