.top-line {
  height: 9px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #42D352;
}

.login-form {
  width: 320px;
  margin: 100px auto;
  padding: 50px 40px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #E1E7EF;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.login-form img {
  margin-top: 0;
  margin-bottom: 30px;
  height: 50px;
}

.login-form h4 {
  text-align: left;
  font-size: 14px;
  font-family: LatoWeb;
  margin: 0 0 5px;
  font-weight: normal;
}

.login-form input {
  padding: 15px;
  border: 1px solid #DEDEDE;
  border-radius: 3px;
  width: 100%;
  margin-bottom: 20px;
}

.login-form button {
  padding: 14px 0 13px;
  border: 0px solid #DEDEDE;
  margin-top: 14px;
  border-radius: 3px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  font-family: LatoWebBold;
  background-color: #42D352;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #45E357;
}