.payout-block {
  width: 100%;
  padding: 30px;
  border: 1px solid #E1E7EF;
  height: 600px;
  border-radius: 3px;
}

.payout-input {
  margin-right: 2px;
  width: 100%;
}

.payout-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.payout-button {
  flex-grow: 1;
  margin-right: 0 !important;
}

.payout-title {
  font-size: 26px;
  padding: 0 0 20px;
}

.payout-title-payout {
  font-size: 26px;
  padding-bottom: 20px;
}

.auto-payout {
  font-size: 16px;
  margin-top: 10px;
}

.sum {
  display: flex;
  flex-direction: row;
}

.date {
  text-align: right;
}

.is-auto {
  text-align: right;
}

.transaction-sum {
  font-size: 20px;
}

.transaction {
  padding: 17px 10px 15px;
  background-color: #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 16px;
  margin-bottom: 5px;
  border: 1px solid #444;
}

.transactions-mobile{
  display: none;
}

.transaction .done{
  color: #62d453;
}

.transactions {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 350px;
  border-radius: 3px;
}

.top-row{
  display: flex;
  justify-content: space-between;
}

.close-button{
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.payout-button {
  padding: 14px 20px 13px;
  border: 1px solid #62d453;
  background-color: #62d453;
  font-size: 16px;
  font-family: LatoWebBold;
  display: inline-block;
  margin-right: 20px!important;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
}

.payout-buttons .cash {
  border: 1px solid #62d453;
  color: #444;
  background-color: #fff;
  cursor: pointer;
}

.payout-button:hover {
  background-color: #62d453;
  color: #fff;
}

@media (max-width: 600px) {
  .payout-block {
    position: absolute;
    top: 66px;
    left: 0;
    background-color: #fff;
    border: 0;
  }

  .status {
    text-align: right;
  }

  .payout-title-payout {
    font-size: 26px;
    padding-bottom: 10px;
  }

  .payout-buttons .cash{
    width: 100%;
    margin-top: 10px;
    text-align: center;
  }

  .transactions {
    display: none;
  }

  .transactions-mobile{
    display: block;
    border-radius: 3px;
    min-height: 300px;
  }

  .date {
    text-align: left;
  }

  .transaction {
    padding: 12px;
    background-color: #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 16px;
    margin-bottom: 6px;
  }
}